@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(//bizweb.dktcdn.net/100/487/455/themes/917232/assets/roboto-light.ttf?1728970530078) format('truetype');
}



@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(//bizweb.dktcdn.net/100/487/455/themes/917232/assets/roboto-bold.ttf?1728970530078) format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(//bizweb.dktcdn.net/100/487/455/themes/917232/assets/roboto-medium.ttf?1728970530078) format('truetype');
}